@{
    string controller = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString().ToLower();
    string action = HttpContext.Current.Request.RequestContext.RouteData.Values["action"].ToString().ToLower();

    bool search = Session["Search"] != null ? (bool)Session["Search"] : false;
    string searchString = Session["SearchString"] != null ? (string)Session["SearchString"] : "";
    int currentMediaId = Session["CurrentMediaId"] != null ? (int)Session["CurrentMediaId"] : 0;
    string currentMediaTitle = Session["currentMediaTitle"] != null ? (string)Session["currentMediaTitle"] : "";
    bool sortByTitle = Session["SortByTitle"] != null ? (bool)Session["SortByTitle"] : true;
    bool searchAscending = Session["SortAscending"] != null ? (bool)Session["SortAscending"] : true;

    bool userConnected = Models.User.ConnectedUser != null;
    bool userIsAdmin = userConnected ? Models.User.ConnectedUser.IsAdmin : false;
    bool userCanWrite = userConnected ? Models.User.ConnectedUser.CanWrite : false;


    var currentMedia = (currentMediaId != 0) ? DAL.DB.Medias.Get(currentMediaId) : null;
    bool isLegitimate = currentMedia != null && userConnected &&
                       (currentMedia.OwnerId == Models.User.ConnectedUser.Id || userIsAdmin);

    string checkSortByTitle = sortByTitle ? "fa-check" : "";
    string checkSortByDate = sortByTitle ? "" : "fa-check";
    string index = RouteConfig.DefaultAction();
}

<div class="section roundedBorder">
    <div class="headerMenu">
        <a class="siteIcon" href="/Medias/list"></a>
        <div class="pageTitle">@ViewBag.PageTitle</div>

        <div id="mainMenuPanel" class="menu">
            @switch (action)
            {
                case "login":
                    break;

                case "subscribe":
                case "editprofil":
                    <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                    <a class="cmdIcon fa fa-square-xmark" title="Annuler" onclick="history.back()"></a>
                    break;

                case "list":
                    if (userCanWrite)
                    {
                        <a href="/@controller/Create" class="cmdIcon fa fa-circle-plus" title="Ajouter..."></a>
                    }

                    <a href="/@controller/ToggleSort" class="cmdIcon fa @(searchAscending ? "fa-arrow-down-short-wide" : "fa-arrow-up-wide-short")" title="Changer l'ordre du tri"></a>
                    <a href="/@controller/ToggleSearch" class="cmdIcon fa fa-search" title="Recherche..."></a>

                    <div id="menu" class="dropdown ms-auto">
                        <div data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="cmdIcon fa fa-bars" title="Menu"></i>
                        </div>
                        <div class="dropdown-menu noselect" id="DDMenu">
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-address-card"></i>
                                <a href="/Accounts/EditProfil">Profil...</a>
                            </div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-sign-out"></i>
                                <a href="/Accounts/Logout">Déconnexion...</a>
                            </div>

                            @if (userIsAdmin)
                            {
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item item-layout">
                                    <i class="menuIcon fa fa-users"></i>
                                    <a href="/Accounts/ManageUsers">Gestion des usagers...</a>
                                </div>
                                <div class="dropdown-item item-layout">
                                    <i class="menuIcon fa fa-calendar-days"></i>
                                    <a href="/Accounts/LoginsJournal">Historique de connexions...</a>
                                </div>
                                <div class="dropdown-item item-layout">
                                    <i class="menuIcon fa fa-gear"></i>
                                    <a href="/Accounts/EventsJournal">Journal d'activités...</a>
                                </div>
                            }

                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa @checkSortByTitle"></i>
                                <a href="/@controller/SortByTitle">Trier par titre</a>
                            </div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa @checkSortByDate"></i>
                                <a href="/@controller/SortByDate">Trier par date</a>
                            </div>

                            <div class="dropdown-divider"></div>
                            <div class="dropdown-item item-layout">
                                <i class="menuIcon fa fa-info-circle"></i>
                                <a href="/@controller/About">À propos...</a>
                            </div>
                        </div>
                    </div>
                    break;

                case "details":
                    if (isLegitimate)
                    {
                        <a href="/@controller/Edit" class="cmdIcon fa fa-pen-to-square" title="Modifier..."></a>
                        <i class="cmdIcon fa fa-trash-can"
                           title="Effacer"
                           onclick="bootbox.confirm(`<b style=color:red>Effacer le Media : </b><h3>@currentMediaTitle?</h3>`, function(result){ if (result) window.location = '/@controller/Delete'; })">
                        </i>
                    }
                    <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="retour"></a>
                    break;

                case "create":
                    if (userCanWrite)
                    {
                        <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                        <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                    }
                    break;

                case "edit":
                    if (isLegitimate)
                    {
                        <i class="cmdIcon submitCmd fa fa-circle-check" title="Soumettre" onclick="document.getElementById('submit').click()"></i>
                        <a href="/@controller/Details/@currentMediaId" class="cmdIcon fa fa-square-xmark" title="Annuler"></a>
                    }
                    else
                    {
                        <a href="/@controller/List" class="cmdIcon fa fa-square-xmark" title="Retour"></a>
                    }
                    break;

                default:
                    <a href="@index" class="cmdIcon fa fa-square-xmark" title="Retour"></a>
                    break;
            }
        </div>
    </div>
</div>

@if (search && controller == "medias" && action == "list")
{
    <div class="flex">
        <input type="search" id="searchInput" class="section roundedBorder flexItem" value="@searchString" placeholder="Recherche...">
        <div id="categorySelectPanel" class="flexItem">
            @{ Html.RenderPartial("GetMediasCategoriesList"); }
        </div>
    </div>
}