@model IEnumerable<Models.Media>
@using DAL;

@if (Model != null && Model.Any())
{
    foreach (var media in Model)
    {
        var user = DB.Users.Get(media.OwnerId);
        bool isMine = Models.User.ConnectedUser != null && media.OwnerId == Models.User.ConnectedUser.Id;

        <div class="mediaLayout">
            <a href="/Medias/Details/@media.Id" class="media-link">

                <div class="mediaThumbnail"
                     style="background-image:url('https://img.youtube.com/vi/@media.YoutubeId/mqdefault.jpg');">
                </div>

                <div class="media-icons-container">
                    @if (isMine && media.Shared)
                    {
                        <img src="/Content/ui-images/shared.png" class="shared-icon-img" title="Ce média est partagé" />
                    }

                    @if (user != null)
                    {
                        <img src="@user.Avatar" class="creatorAvatar" title="@user.Name" />
                    }
                </div>
            </a>

            <div class="ellipsis" style="margin-left: 4px; margin-right: 4px; font-size: 0.8em; font-weight: bold; margin-top:5px;">
                @media.Title
            </div>
            <div style="margin-left: 4px; color: gray; font-size: 0.65em">
                @media.Category <br /> @Helper.When(media.PublishDate)
            </div>
        </div>
    }
}
else
{
    <h3 style="margin:20px;">Aucun résultat</h3>
}
